/**
 * Font Face Declarations
 *
 * Proxima Nova variable font with full weight range (100-900)
 * and italic support.
 *
 * Font file is located in each app's public/fonts/ directory
 * and will be copied to dist/fonts/ during build.
 *
 * Variable fonts provide:
 * - Full weight spectrum (thin to black)
 * - Smaller file size than multiple static fonts
 * - Smooth weight interpolation
 * - Italic variants included
 */

@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/Proxima-Vara-VF.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal italic;
  font-display: swap;
}